* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  font-family: helvetica;
  font-size: 16px;
  color: rgb(0, 0, 0);
  line-height: 24px;
  }

  .ancho  {
    max-width: 1200px;
    margin: auto;
  }

  header {
    padding: 30px;
    background-color: white;
    border-bottom: 1px gainsboro solid;
  }

  .rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 500px;
  }

.rslides li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  height: 500px;
  object-fit: cover;
  }

  h1 {
    text-align: center;
  }

  .contenedor_imagenes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:  stretch;
    flex-wrap: wrap;
  }

  .contenedor_imagenes figure {
    max-width: 350px;
    height: 250px;
    position: relative;
  }

  .contenedor_imagenes figure img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .filtro {
    width: 350px;
    height: 250px;
    background-color: rgba(255, 165, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
  }

  .contenedor_slide {
    position: relative;
  }

  .filtromorado {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgb(117, 100, 229, 0.4);
    width: 100%;
    height: 100%;
    padding-top: 220px;
  }


  .filtro:hover {
    opacity: 1;
  }

  .iconoplus {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }

  .contenedor_caracteristicas {
    background: rgba(7, 1, 90, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 2;
  }

  .contenedor_caracteristicas h2 {
    color: #7564E5;
    text-align: center;
  }

  .contenedor_caracteristicas h3 {
    color: #f2f2f2;
    text-align: center;
  }

  .contenedor_caracteristicas article {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .contenedor_parallaxs1 {
    height: 250px;
    background-image: url(imagenes/parallaxs1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-y: -300px; */
    background-attachment: fixed;
    position: relative;
  }

  .contenedor_team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
  }

  .contenedor_team figure {
    width: 270px;
    position: relative;
    overflow: hidden;
  }

  .contenedor_team figure:hover figcaption {
    top: 0;
  }

  .contenedor_team figure img {
    width: 100%;
  }


  .contenedor_team figcaption {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
  }


  .contenedor_team h2 {
    padding: 20px 5px;
  }

  .contenedor_team p {
    padding: 0px 5px 30px 5px;
  }

  .categorias {
    background-color: #7564E5;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    height: 120px;
    max-width: 350px;
    border-radius: 15px;
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
  }

  .costo {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;

  }

  .contenedor_precios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .precio {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px #333 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
  }

  .precio hr {
    border: 0;
    height: 1px;
    width: 30%;
    background-color: #333;
    margin-top: -10px;
    margin-bottom: 5px;
  }

  .card {
    border: 1px #ccc solid;
    width: 300px;
    text-align: center;
    border-radius: 15px;
    padding-top: 130px;
    position: relative;
    transition: all 0.5s;
  }

  .colormorado {
    color: #6B5DD6;
    font-size: 12px;
    padding: 10px;
  }

  .card .bordes {
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    padding: 10px;
    padding-left: 5px;
    transition: all 0.5s;
  }

  .card .bordes:hover i {
    margin-left: 20px;
    transition: all 0.5s;
  }

  .card:hover {
    margin-top: -20px;
  }

  .card .bordes:hover {
    padding-left: 0;
  }

  .card .quitaborde {
    border-top: 0px;
  }

  .morado {
    background-color: #7564E5;
    color: white;
    border: 1px #7564E5 solid;
  }

  .linea {
    border: 0px;
    height: 1px;
    width: 35%;
    background-color: #333;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .lineablanca {
    border: 0px;
    height: 1px;
    width: 35%;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .card p {
    padding: 10px;
  }

  .btn_morado {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 60px;
    color: white;
    margin-bottom: 10px;
    background-color: #7564E5;
    transition: all 0.5s;
  }

  .btn_morado:hover {
    color: white;
    background-color: #333333;
  }

  .iconoredes {
    width: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .iconoredes a {
    font-size: 22px;
    color: white;
    transition: all 0.5s;
  }

  .iconoredes a:hover {
    color: #e600ff;
  }

  .morado2 {
    color: purple;
  }

  .titulos {
    text-align: center;
    padding: 10px;
    font-size: 35px;
  }

  .parrafos {
    text-align: center;
    padding: 10px;
    max-width: 500px;
    margin: auto;
  }

  .contenedorlinea {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .contenedorlinea hr {
    border: 0;
    height: 2px;
    width: 80px;
    background-color: purple;
  }

  .contenedorlinea i {
    color: purple;
    font-size: 16px;
  }

  .contenedor_our {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    flex-wrap: wrap;
  }

  .contenedor_our article {
    max-width: 350px;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    box-shadow: 0px 17px 60px #00000012;
    margin: 10px;
    transition: all 0.5s;
    transform: scale(1);
  }

  .contenedor_our article:hover .iconocirculo{
    background-color: purple;
    color: gainsboro;
    transform: rotate(360deg);
  }

  .contenedor_our article:hover {
    transform: scale(1.05);
  }

  .iconocirculo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gainsboro;
    color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: all 0.5s;
  }

  .contenedor_our i {
    font-size: 22px;
  }

  .contenedor_our h2 {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .contenedor_our p {
    padding-top: 10px;
  }
/* Animaciones */
  .animacion1 {
    animation-name: mover;
    animation-duration: 3s;
  }

  .objeto1 {
    max-width: 300px;
    animation-name: mover;
    animation-duration: 3s;
    margin-left: -500;
  }
  .contenedor_caracteristicas {
    background: rgba(7, 1, 90, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 2;
  }

  .contenedor_parallaxs2 {
    position: relative;
    height: 350px;
    background-image: url(imagenes/parallaxs2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }

  .contenedor_comentarios {
    background: rgba(7, 1, 90, 0.6);
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      gap: 30px;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;

  }
  .contenedor_comentarios img {
    border-radius: 50px;
    background-color: white;
    text-align: center;
  }

  .contenedor_parallaxs2 p {
    text-align: center;
    color: white;
  }

  .contenedor_parallaxs2 h3 {
    color: #6B5DD6;
  }

  @keyframes mover {
    from {
    margin-left: -500px;
    opacity: 0;
    }

    to {
      margin-left: 0;
      opacity: 1;
    }
  }

